@use '../base/tokens' as *;

.container {
  width: min(100% - 60px, $container);
  margin-inline: auto;
}

.section {
  position: relative;
  padding-block: 100px;

  &--lg { padding-block: 140px; }
  &--sm { padding-block: 60px; }

  &__head {
    max-width: 830px;
    margin-bottom: 55px;

    .eyebrow + .h2 { margin-top: 18px; }
    .h2 + p { margin-top: 18px; max-width: 720px; }
  }
}

.grid {
  display: grid;
  gap: 30px;

  &--2 { grid-template-columns: repeat(2, 1fr); }
  &--3 { grid-template-columns: repeat(3, 1fr); }
  &--4 { grid-template-columns: repeat(4, 1fr); }
  &--5 { grid-template-columns: repeat(5, 1fr); }
}

.flex { display: flex; }
.f-col { flex-direction: column; }
.f-center { justify-content: center; align-items: center; }
.f-between { justify-content: space-between; align-items: center; }
.f-gap-10 { gap: 10px; }
.f-gap-15 { gap: 15px; }
.f-gap-20 { gap: 20px; }
.f-gap-30 { gap: 30px; }
